/* CSS declarations go here */
/* Chartist  */
.ct-series-a .ct-line {
  stroke: rgba(220,20,20,1);
  stroke-width: 3px;

}
.ct-series-b .ct-line {
  stroke: rgba(151,187,205,1);
  stroke-width: 3px;
}

.ct-series-c .ct-line {
  stroke: #003399;
  stroke-width: 3px;
}
.ct-series-d .ct-line {
stroke: #FDB45C;
  stroke-width: 3px;
}

.ct-series-e .ct-line {
  stroke: #59922b;
  stroke-width: 3px;
}

.ct-series-f .ct-line {
  stroke: #453d3f;
  stroke-width: 3px;
}

.jumbotron {
  background-color: rgba(151,187,205,1) !important;
  /*66DFDD;*/
/*  color: white !important;
*/

}

.navbar {
  background-color: rgba(151,187,205,1) !important;
  /*66DFDD;*/
/*  color: white !important;
*/

}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}


#loginbtn li {
  list-style-type: none;

}
#loginbtn li .dropdown-toggle {
  color: white;

}

.center {
    text-align: center;
}

.video{

}

.images{

}

.microblog{

}