	<template name="charts">		
		

			<div class="col-sm-6">	
				<!-- <canvas id="emChart" width="300" height="300"></canvas> -->
				<div class="ct-chart ct-perfect-fourth"></div>

				<br/>
				<i>Emission Gt CO2 eq per country group</i>
			</div>
			<div class="col-sm-6">	
				<canvas id="tempChart" width="300" height="300"></canvas>
				
				<!-- <canvas id="tempChart" ></canvas> -->


				 <br/>
				<i>Global temperature: projection vs goal</i>
			</div>

			<!-- <div class="ct-chart ct-perfect-fourth"></div> -->
<!-- <button type="button" class="btn btn-default btn-warning" aria-label="Left Align" id="reloadgraphs">
  <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Reload graphs
</button> -->
	</template>