<template name="conso">	

 <form class="register">

	<p>
	 <input class="form-control" maxlength="2048" name="" autocomplete="off" title="Prenom" type="text" id="prenom" placeholder="Prenom">	
	</p>
	<p>Par semaine:</p>

	<ul>
		<li>Nombre de videos en streaming regardés  <input class="form-control" maxlength="2048" name="" autocomplete="off" title="Consultation" type="text" id="streaming" placeholder=""></li>
		<li>Nombre de films ou jeux téléchargés<input class="form-control" maxlength="2048" name="" autocomplete="off" title="Nombre de posts" type="text" id="telechargements" placeholder=""></li>
		<li>Nombre de posts de photos sur les reseaux<input class="form-control" maxlength="2048" name="" autocomplete="off" title="Suppression de donnees" type="text" id="postPhotos" placeholder=""></li>
		<li>Nombre de posts de videos<input class="form-control" maxlength="2048" name="" autocomplete="off" title="Suppression de donnees" type="text" id="postVideos" placeholder=""></li>
		<li>Nombre d'heures sur internet<input class="form-control" maxlength="2048" name="" autocomplete="off" title="Suppression de donnees" type="text" id="postVideos" placeholder=""></li>




		<li>Je suis plus souvent sur : 
		<br>	
			
			  <input type="radio" name="usage" value="telephone" checked>telephone
			  <br>
			  <input type="radio" name="usage" value="ordinateur">ordinateur
		</li>
	</ul>
	

	<div class="form-group">
      <label for="coul">Couleur</label>
      <select class="form-control" id="coul">
        <option class="color:red">rouge</option>
        <option class="color:green">vert</option>
        <option class="color:blue">bleue</option>
        

      </select>
    </div>

	<p><input type="submit" value="Rejoindre la simulation" class="register btn btn-default"></p>	

	<!-- <button type="button" class="btn btn-default" id="valider">Valider</button> -->
</form>

</template>