<template name="galLayout">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>EcoTech</title>

    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>

  <body>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <ul class="nav nav-tabs center">
        <li role="presentation" class="active"><a href="#"><b>Accueil</b></a></li>
        <li role="presentation"><a href="#"><b>Profil</b></a></li>
        <li role="presentation"><a href="#"><b>Conseils</b></a></li>
        <li role="presentation"><a href="#"><b>Guide</b></a></li>
        <li role="presentation"><a href="#"><b>À propos</b></a></li>
      </ul>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <img src="header.svg" style="min-width: 100%; width: 100%;"/>
    </div>
  </div>
  <br/>
  <br/>

  <div class="container">
    <div class="modal fade" id="context" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel">Contexte et enjeux de la COP21</h2>
          </div>
          <div class="modal-body">

            <h1></h1>

            <p>La France accueillera du 30 novembre au 11 décembre 2015, la 21e Conférence des parties à la
              convention-cadre des Nations unies sur les changements climatiques (CCNUCC). La COP21 se tiendra au
              Bourget. Plus de 40 000 participants y sont attendus, entre les délégations des 195 États, la société
              civile – les entreprises, les ONG, les scientifiques, les collectivités territoriales, les populations
              autochtones, les syndicats – et les médias du monde entier.</p>

            <p>
              <small><i>Source : ENS de Lyon - IFE </i></small>
            </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

      {{> yield}}

  </div>
  <br/>
  <br/>

  <div class="row center">
    <div class="col-xs-8 col-xs-offset-2 center" style="background-color: #323232; padding: 2em; margin-bottom: -10px">
      <div class="row center">
        <div class="col-xs-4 col-xs-offset-4 center">
          <img src="ecoclick.svg"  style="min-width: 100%; width: 100%;" alt=""/>
        </div>
      </div>
    </div>
  </div>

  </body>

</template>