<template name="global">

  <br/>
  <br/>
  <div class="row">
    <section class="charts">
        {{> charts}}
    </section>
  </div>
  <!-- row -->
  <br/>

  <div class="row">
    <!-- 	<div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div> -->

    <div class="clearfix">
      <a href="/profil" role="button" class="btn btn-default pull-right ">
        Ajouter un joueur
      </a>

      <button style="color:white;" type="button" class="{{prenom}} prenom btn btn-block" data-toggle="modal" data-target="#{{prenom}}Strat">{{prenom}}</button>
    </div>



    <section class="inputs">
        {{> groupsList }}
    </section>

  </div>
  <!-- row -->
</template>