<template name="group">		
	
				<tr class="{{validation}}">
					<td ><button style="color:white;" type="button" class="{{profil}} btn btn-block" data-toggle="modal" data-target="#{{prenom}}Strat">{{prenom}}</button></td>
			    	<td><input class="form-control" maxlength="2048" name="" autocomplete="off" title="Consultation" type="text" id="consultation" value="0"></td>
			    	<td><input class="form-control" maxlength="2048" name="" autocomplete="off" title="Nombre de posts" type="text" id="posts" value="0"></td>

			    	<td><input class="form-control" maxlength="2048" name="" autocomplete="off" title="Suppression de donnees" type="text" id="donnees" value="0"></td>
			    	<td>     <button class="delete glyphicon glyphicon-remove btn btn-alert btn-sm"></button></td>



				</tr>

			<div class="modal fade" id="{{prenom}}Strat" tabindex="-1" role="dialog" aria-labelledby="{{prenom}} strategy">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="{{prenom}}Label">Consomation de {{prenom}}</h4>
			      </div>
			      <div class="modal-body">
			      	{{description}}
			      	<p> Consomation electrique par semaine : {{consoReduction}}</p>
			  		<p> Nombre de posts par semaine: {{postReduction}}</p>
			      	<p> Donnes stockées en moyenne : {{stockageReduction}}</p>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>


</template>