<template name="profil">
  <div class="row">
    <div class="col-xs-12">
  <br/>
  <br/>

  <form class="register">

    <div class="center">
      <!-- <label for="avatar"> Avatar </label> -->
      <div class="btn-group" data-toggle="buttons">

        <div class="btn btn-primary active" id="avatar1">
          <input type="radio" title="avatar" name="avatar" autocomplete="off">
          <img src="avatar1.svg">
        </div>
        <label class="btn btn-primary" id="avatar2">
          <input type="radio" title="avatar" name="avatar" autocomplete="off">
          <img src="avatar2.svg">
        </label>
        <label class="btn btn-primary" id="avatar3">
          <input type="radio" title="avatar" name="avatar" autocomplete="off">
          <img src="avatar3.svg">
        </label>
      </div>
    </div>

    <br/>
    <br/>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <label> Prénom </label>
        <br/>
        <input class="form-control" maxlength="2048" name=""
               autocomplete="off"
               title="Prenom"
               type="text"
               id="prenom"
               value="Visiteur"
               placeholder="Prenom">
      </div>

      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <label> Couleur </label>
        <br/>
          <input type="color" value="#3bbff0" list="colors" title="couleur" 
                id="couleur" style="width:100%;text-align:center;" class="form-group">
            <datalist id="colors">
              <option>#e84436</option>
              <option>#3bbff0</option>
              <option>#fff271</option>
              <option>#575756</option>
            </datalist>
      </div>
    </div>

    <br/>
    <br/>


    <div class="row dataInput">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-4">
            <img src="internet.svg" class="img-responsive">
          </div>
          <div class="col-xs-8">
            <label for="conso"> Navigation (Heures/jour): <output id="consoValue" class="">3</output></label>
            <input type="range" min="0" max="16" value="3" id="conso" onchange="consoValue.value=value">
        </div>
      </div>
     </div>

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-4">
            <img src="post.svg" class="img-responsive">
          </div>
          <div class="col-xs-8">
            <label for="post"> Mails (Nombre/jour): <output id="postValue" class="">10</output></label>
            <input type="range" min="0" max="300" value="10" id="post" onchange="postValue.value=value">
         </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-4">
            <img src="app.svg" class="img-responsive">
          </div>
          <div class="col-xs-8">
            <label for="video"> Vidéos en streaming (H/jour): <output id="videoValue" class="">2</output></label>
            <input type="range" min="0" max="8" value="2" step=".2" id="video" onchange="videoValue.value=value">
        </div>
      </div>
      </div>
          

      <div class="col-xs-12 col-md-6">
        <div class="row ">
          <div class="col-xs-4">
            <img src="controller.svg" class="img-responsive">
          </div>
          <div class="col-xs-8">
            <label for="jeu"> Jeux videos (Heures/jour): <output id="jeuValue">1</output></label>
            <input type="range" min="0" max="8" value="1" step=".5" id="jeu" onchange="jeuValue.value=value">
          </div>
        </div>
      </div>

    </div> <!-- endrow dataInput -->

    <div class="clearfix">
      <div class="pull-right">
        <input type="submit" value="Rejoindre la partie" class="register btn btn-default">
      </div>
    </div>

  </form>

    </div>
  </div>
</template>