<template name="user">
	<!-- <hr/> -->

	<section class="col-md-3">
		{{#with visiteur}}


		<h1>Votre consommation </h1>
		<br/>

		<div class="row">
			<div class="progress">
			  <div class="progress-bar {{barcolor}}" role="progressbar" aria-valuenow={{percentage}}
			  aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%; ">
			  </div>
			</div>
			<!-- <canvas id="totalChart"></canvas> -->
		</div>

		<div class="row text-center">

			<div class="country">
				<div class="dial">
				  <div id="lePointeur" class="pointer rotativ"></div>
				  <!-- <div class="amount"><br />Wh</div> -->
				</div>
			</div>
		</div>
		<br>
		<div class="row">

			<canvas id="consoChart"></canvas>
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>

		<div class="row text-center userdisp text-center">
			<div class="col-md-4 ">
				<img class="img-responsive  img-rounded" src="{{avatar}}">
			</div>
			<div class="col-md-8">
				<h3 class="prenomdisp">{{prenom}}</h3>
			</div>
		</div>


			  {{/with}}
	</section>

	<section class="col-md-8 col-xs-offset-1">
		<h1>Les gestes pour améliorer votre score</h1>

		<form >			
			<h3>Consommation électrique</h3>
			<div class="checkbox">
			    <label>
					<input type="checkbox" name="veille"> Mettre en veille entre deux utilisation 
				</label>
			</div>
			
			<div class="checkbox">
				<label>
					<input type="checkbox"> Éteindre complètement une fois terminé
				</label>
			</div>
			
			<div class="checkbox">
				<label>
				<input type="checkbox"> Débrancher une fois chargé
				</label>
			</div>
			
			<h3>Achat</h3>
			<div class="checkbox">
				<label>

				<input type="checkbox"> Choisir des machines avec un ecolabel 
				</label>

			</div>	
			<h3>Mails</h3>
			<div class="checkbox">
				<label>
					<input type="checkbox"> Limiter destinataires et personnes en copie
				</label>

			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox"> Utiliser des liens plutôt que des pièces jointes

				</label>

			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox"> Se désabonner des newsletters inutiles

				</label>

			</div>		
			<h3>Serveurs</h3>
			<div class="checkbox">
				<label>

				<input type="checkbox"> Limiter le stockage en ligne, privilégier les clés usb et disques externes

				</label>

			</div>	
			<div class="checkbox">
				<label>

				<input type="checkbox"> Utiliser les favoris plutôt que des recherches à chaque fois
				</label>

			</div>	
		</form>
	</section>
</template>